@model Listable.MVCWebApp.ViewModels.Collections.CreateItemViewModel

@{
    ViewData["Title"] = "CreateItem";
}

<div class="listable-collections-container">
    <div class="listable-collections-title">
        @Model.CollectionName > New Item
    </div>
    <div class="listable-collections-form">
        <form method="post" id="createitem">
            <input asp-for="CollectionId" hidden />
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <label asp-for="Description"></label>
            <input asp-for="Description" />
        </form>
    </div>
    <div class="listable-collections-btns">
        <button type="submit" form="createitem" class="fl-right"><i class="fa fa-check" aria-hidden="true"></i></button>
        <a href="@Url.Action("Collection", "Collections", new { collectionId = Model.CollectionId }, null)"><div><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div></a>
    </div>
    <div asp-validation-summary="All"></div>
</div>

