@model Listable.MVCWebApp.ViewModels.Collections.EditCollectionViewModel

@{
    ViewData["Title"] = "Edit Collection";
}

<div class="listable-collections-container">
    <div class="listable-collections-title">
        Edit collection
    </div>
    @Html.EditorFor(m => m.CollectionDetails)
</div>

