@{
    ViewData["Title"] = "Collections";
}

<div class="row">
    <div class="col-md-12">
        <h2>Listable</h2>
        <ul>
            <li>Create lists to showcase your collections</li>
        </ul>
    </div>
</div>
