@model Listable.MVCWebApp.ViewModels.Collections.ItemEditor

<div class="listable-collections-form">
    <form method="post" id="createitem" enctype="multipart/form-data">
        <input asp-for="CollectionId" hidden />
        <input asp-for="ImageEnabled" hidden />
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        @if (Model.ImageEnabled)
        {
            <label asp-for="ImageFile"></label>
            <input asp-for="ImageFile" />
        }
    </form>
</div>
<div class="listable-collections-btns">
    <button type="submit" form="createitem" class="fl-right"><i class="fa fa-check" aria-hidden="true"></i></button>
    <a href="@Url.Action("Collection", "Collections", new { collectionId = Model.CollectionId }, null)"><div><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span></div></a>
</div>
<div asp-validation-summary="All"></div>